a:hover {
    text-decoration: none;
}

h5 {
    color: rgb(2, 91, 61);
    font-size: 2rem;
}

h2 {
    color: rgb(2, 91, 61);
    font-size: 1.3rem;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

#header {
    background-color: rgb(2, 91, 61);
    color: white;
}

.list {
    list-style-type: none;
}

.list li {
    display: inline-block;
}

.list li a {
    color: white;
    padding: 0px 9px;
    display: block;
}

.list li a:hover {
    color: black;
}

.logo {
    font-size: 1.5rem;
}

.title {
    padding: 5rem;
    text-align: initial;
}

.banner {
    background: url('../img/main.jpg') no-repeat 0 0;
    background-size: cover;
}

.banner h3 {
    padding: 10px;
    display: inline-block;
}

.banner p {
    padding: 10px;
}

.container {
    text-align: center;
}

.icon {
    font-size: xx-large;
    color: rgb(2, 91, 61);
}

.testimonials {
    background: url('../img/test.jpg') no-repeat 0 0;
    background-size: cover;

}

.testimonials h5 {
    text-align: center;
    background-color: rgb(2, 91, 61);
    color: white;
}

.test_box {
    text-align: revert;
    color: white;
}

.news h3 {
    text-align: center;
    color: rgb(2, 91, 61);
}

.news img {
    height: 128px;
}


.footer {
    background: rgb(36, 0, 0);
    background: linear-gradient(90deg, rgba(36, 0, 0, 0.6421919109440651) 0%, rgba(0, 44, 60, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footer_box {
    text-align: initial;
}

.footer_box p {
    color: white;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 0.85rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    .logo {
        text-align: center;
        font-size: 1.5rem;
    }

    .list {
        text-align: center;
        margin-right: 28px;
    }

    .banner h3 {
        padding: 7px;
    }

    .banner p {
        padding: 7px;
    }

    .title {
        padding: 2rem;
    }

    .news h3 {
        text-align: center;
        background-color: rgb(2, 91, 61);
        color: white;
    }

    .title h4 {
        color: white;
    }

    .title p {
        color: white;
    }

    img{
        border-radius: 23rem;
    }

}


@media screen and (max-width: 474px) {
    h2 {
        font-size: 0.65rem;
    }

    h3 {
        font-size: 0.5rem;
    }

    p {
        font-size: 0.55rem;
    }

    h5 {
        font-size: 0.75rem;
    }

    .list li a {
        padding: 0px 3px;
        font-size: 0.95rem;
    }

    .logo {
        font-size: 1rem;
    }

}